<span data-test-flagged-cells-counter>{{numberOfFlaggedCells}}</span>
{{#each model.cells as |cellModel|}}
  {{board-cell data-test-cell=cellModel.position model=cellModel onOpenCell=(action "openedCell") onFlagCell=(action "flaggedCell")}}
{{/each}}