@import "ember-cli-bootstrap-4/bootstrap";

$border-color:#bbb;
$board-color: #cfcfcf;

@import "pod-styles";
html {
  font-family: 'Roboto', sans-serif;
}

html,body {
  @extend .h-100;
}

#sidebar {
  background-color: darkorange;
}

